@model ControlCash.Models.TipoCartao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoCartao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Index", new { @class = "btn btn-primary btn-custom" })
</p>
