@{
    ViewBag.Title = "Contact";
}

    <div class="row">
        <div class="col-md-12">
            <h2>Desenvolvedores do Sistema</h2>
            <p>Douglas Henrique Almeida</p>
            <p>Mateus Vieira Gonçalves</p>
        </div>
    </div>