@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Control Cash</h1>
    <p class="lead">O ControlCash tem como objetivo principal auxiliar as pessoas com seus gastos e investimentos, ajudando a gerenciar sua vida financeira. </p>
    <p><a href="/home/About" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

