@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-md-12">
        <h2>Escopo do Sistema</h2>
        <p>O ControlCash tem como objetivo principal auxiliar as pessoas com seus gastos e investimentos, ajudando a gerenciar sua vida financeira. </p>
        <p>O sistema possibilita que o usuário possa cadastrar uma conta de acesso. Neste cadastro ele informa seu nome, sobrenome, senha e uma conta de e-mail válida. Após o cadastro da conta, aparece uma tela onde o usuário possui funções para gerenciar no sistema seus gastos ou investimentos.</p>
        <p>Em relação a funções de gastos, o software conta com a gestão dos dados relacionados aos gastos do usuário. Quando o usuário lançar o gasto, o sistema disponibiliza a escolha de qual tipo cartão foi realizado o gasto, em crédito ou débito.</p>
        <p>O sistema possibilita cadastrar vários cartões tanto de crédito quando de débito. Para que o usuário estabeleça uma margem de controle de seus gastos, o sistema conta com meios de estabelecer um valor limite de gastos podendo ser mensais ou semanais, isto será aplicado de acordo com o objetivo do usuário.</p>
        <p>A página inicial do sistema possui um menu para acessar as guias de gastos, contas, extratos e relatórios. Com base nos tipos dos gastos será possível gerar gráficos com a identificação das porcentagens de cada tipo de gastos.</p>
        <p>Em relação a investimentos, na primeira vez que essa área for acessada o sistema mostra para o usuário um questionário com perguntas pré-definidas onde definirá o perfil de usuário que ele corresponde, podendo ser de um usuário mais conservador ou um usuário que gosta de correr mais riscos. Com base no perfil do usuário feito, o sistema indica quais tipos de investimentos ele pode se interessar.</p>
        <p>No sistema será possível lançar vários tipos de investimentos, inclusive a poupança. O usuário pode também ver um relatório em forma de gráficos para poder analisar o seu fluxo de investimentos. No relatório de um investimento individual haverá a opção de acompanhar o fluxo de investimentos a partir do dia em que a ação foi comprada ou a partir do mês que o usuário escolher.</p>
        <p>Caso o usuário não tenha conhecimento suficiente sobre a área de finanças, o sistema terá explicações simples e diretas sobre o que é e como funciona cada investimento. As explicações serão apenas para informar ao usuário que tipo de investimento é aquele que ele pesquisou ou que o sistema indicou, mas o sistema sempre irá indicar ao usuário a se dedicar a entender melhor o tipo de investimento que ele está interessado.</p>
        <p>No sistema há a opção de cadastrar o investimento que o usuário efetuou. O cadastro de investimento será feito manualmente. No cadastro de cada investimento pode ser informado a instituição financeira pela qual o usuário investe seu dinheiro e a data de início. O usuário também pode informar quando ele resgatou o dinheiro investido em alguma aplicação.</p>
    </div>
</div>